@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  padding: 20px 180px;
}

header,
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #2ecc71;
  font-size: 20px;
  font-weight: 500;
}

header nav ul {
  gap: 60px;
  list-style: none;
}

header nav ul li a {
  color: #6d6d6d;
  text-decoration: none;
  user-select: none;
  transition: 0.25s ease-in-out;
}

header nav ul li a:hover {
  color: #2ecc71;
}

.signup-btn {
  font-size: 16px;
  background-color: transparent;
  color: #2ecc71;
  border: 1px solid #2ecc71;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.signup-btn:hover {
  background-color: #2ecc71;
  color: #fff;
}