@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  padding: 20px 400px;
}

header,
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #2ecc71;
  font-size: 20px;
  font-weight: 500;
}

header nav ul {
  gap: 60px;
  list-style: none;
}

header nav ul li a {
  color: #6d6d6d;
  text-decoration: none;
  user-select: none;
  transition: 0.25s ease-in-out;
}

header nav ul li a:hover {
  color: #2ecc71;
}

.signup-btn {
  font-size: 16px;
  background-color: transparent;
  color: #2ecc71;
  border: 1px solid #2ecc71;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.signup-btn:hover {
  background-color: #2ecc71;
  color: #fff;
}

#first {
  display: flex;
  gap: 200px;
  padding: 0 100px 0 0;
  margin-top: 200px;
}

.left {
  margin-top: 50px;
}

.left h1 {
  font-weight: 400;
}

.left h1 span {
  color: #2ecc71;
}

.left p {
  color: #6d6d6d;
  font-size: 1.1em;
  width: 300px;
  margin: 30px 0 50px 0;
}

.left .buttons {
  display: flex;
  gap: 40px;
}

.learn-btn {
  font-size: 1em;
  background-color: #2ecc71;
  color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.learn-btn:hover {
  background-color: #2bb564;
  transform: translate(0, -25%);
}

.right img {
  width: 600px;
}